# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Node / Frontend
node_modules/
dist/
.svelte-kit/
build/
package/

# Rust
**/target/
**/gen/

# Database & Logs
*.db
*.log

# Env
.env
.env.*
!.env.example

# Timestamps
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
